DISCORD_TOKEN=tu_token_aqui
CLIENT_ID=tu_client_id_aqui
DISCORD_CLIENT_SECRET=tu_client_secret_aqui
DATABASE_URI=mongodb+srv://user:password@cluster.mongodb.net/dbname
DATABASE_URL=postgresql://neondb_user:neondb_pass@neondb_host/neondb_db
LEADERSHIP_CHANNEL_ID=tu_leadership_channel_id_aqui

# Google Sheets Configuration
# Option A: Place 'credentials.json' in the project root folder.
# Option B: Set the environment variables below:
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

